<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoFerrerteriaSI.Properties.Settings.FerreteriaDBConnectionString"
            connectionString="Data Source=su-mueble-server.database.windows.net;Initial Catalog=FerreteriaDB;Persist Security Info=True;User ID=adminSuMueble;Password=&quot;desarrollo de Software 09&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>